
<nav class="navbar navbar-expand-lg navbar-light bg-white">
    <div class="container">
    <span class="navbar-brand"><img src="../assets/images/Bitu_small.png" alt=""></span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ml-auto">
        <a class="nav-item nav-link active" href="beranda"(click)="setTitle('Beranda')" >Beranda <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="about" (click)="setTitle('About')">About</a>
        <a class="nav-item nav-link" href="faq" (click)="setTitle('Faq')">Faq</a>
        <a class="nav-item nav-link login" href="login" class="btn btn-primary" style="border-radius: 20px;" (click)="setTitle('Login')"> login</a>
      </div>
    </div>
  </div>
  </nav>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-7 mt-5">
                <h1>Frequently <br> Asked Questions</h1>
                <hr class="bg-info">
                <div id="accordion">
                <div class="card ">
                    <div class="card-header bg-success" id="headingOne">
                    <h5 class="mb-0">
                        <button class="btn btn-link text-white" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Collapsible Group Item #1
                        </button>
                    </h5>
                    </div>

                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                       {{lorem}}
                    </div>
                    </div>
                </div>
                
                <div class="card">
                    <div class="card-header " id="headingTwo">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed text-dark" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Collapsible Group Item #2
                        </button>
                    </h5>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="card-body">
                      {{lorem}}
                    </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingThree">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed text-dark" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Collapsible Group Item #3
                        </button>
                    </h5>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                    <div class="card-body">
                       {{lorem}}
                    </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingThree">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed text-dark" data-toggle="collapse" data-target="#collapsefor" aria-expanded="false" aria-controls="collapsefor">
                        Collapsible Group Item #4
                        </button>
                    </h5>
                    </div>
                    <div id="collapsefor" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                    <div class="card-body">
                        {{lorem}}
                    </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingThree">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed text-dark" data-toggle="collapse" data-target="#collapselima" aria-expanded="false" aria-controls="collapselima">
                        Collapsible Group Item #4
                        </button>
                    </h5>
                    </div>
                    <div id="collapselima" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                    <div class="card-body">
                       {{lorem}}
                    </div>
                    </div>
                </div>
               
                

                
                </div>
            </div>
            
            <div class="col-md-5">
                <img src="../../assets/images/contact.svg" alt="">
            </div>

        </div>
    </div>
</section>