
<nav class="navbar navbar-expand-lg navbar-light bg-white">
    <div class="container">
    <span class="navbar-brand"><img src="../assets/images/Bitu_small.png" alt=""></span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ml-auto">
        <a class="nav-item nav-link active" href="beranda"(click)="setTitle('Beranda')" >Beranda <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="about" (click)="setTitle('About')">About</a>
        <a class="nav-item nav-link" href="faq" (click)="setTitle('Faq')">Faq</a>
        <a class="nav-item nav-link login" href="login" class="btn btn-primary" style="border-radius: 20px;" (click)="setTitle('Login')"> login</a>
      </div>
    </div>
  </div>
  </nav>
  
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center mt-5">
                <img src="https://tehranmath.ir/wp-content/uploads/2018/08/404-not-found.gif" alt="" width="50%">
                <h1>404 Not Found</h1>
            </div>
        </div>
    </div>
</section>