
<nav class="navbar navbar-expand-lg navbar-light bg-white">
    <div class="container">
    <span class="navbar-brand"><img src="../assets/images/Bitu_small.png" alt=""></span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ml-auto">
        <a class="nav-item nav-link active" href="beranda"(click)="setTitle('Beranda')" >Beranda <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="about" (click)="setTitle('About')">About</a>
        <a class="nav-item nav-link" href="faq" (click)="setTitle('Faq')">Faq</a>
        <a class="nav-item nav-link login" href="login" class="btn btn-primary" style="border-radius: 20px;" (click)="setTitle('Login')"> login</a>
      </div>
    </div>
  </div>
  </nav>
  
<section class="mt-5">
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <b class="">Layanan Hotel Bitu</b>
            <br>
            <span>
                <span  ><p class="textt">About Us</p></span>
                <hr class="bg-info">
                <p>This is a product from HotelMU that integrates your hotel website with the Booking Engine, automatic payment system, payment management / room rates and is integrated with the Hotel Management Application (PMS HotelMU). Here are other benefits:</p>
                <ol class="mr-5">
                    <li><b>  Unlimited Booking  </b></li>
                    <li><b> Unlimited Data Transfer </b></li>
                    <li><b> An e-mail account with 5GB capacity / Account (YANDEX MAIL integration) </b></li>
                    <li><b>  SEO Friendly  </b></li>
                    <li><b>  Mobile Optimized  </b></li>
                    <li><b>  Email reservation notification to guests and also the hotel  </b></li>
                </ol>
            </span>
        </div>
        <div class="col-md-6 gambar2" >
          <img src="../../assets/images/about.png" alt="" width="100%">
        </div>
    </div>
</div>
</section>
<!-- <section class="mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h3><span class="text-info">Fitur</span> - Website Dan Booking Engine
                </h3>
            </div>            
        </div>
    </div>
</section>
<section>
    <div class="container text-center mt-5">
        <div class="row mt-3">
            <div class="col-md-4">
              <img src="https://www.hotelmu.id/gambar/manfaat/icon-manfaat-website-1.png" alt="">
             <h4 class="mt-1">Website</h4>
             <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos reprehenderit omnis repellat </p>
            </div>
            <div class="col-md-4">
              <img src="https://www.hotelmu.id/gambar/manfaat/icon-manfaat-booking-engine-2.png" alt="">
             <h4 class="mt-1">Booking Engine  </h4>
             <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos reprehenderit omnis repellat </p>
            </div>
            <div class="col-md-4">
              <img src="https://www.hotelmu.id/gambar/manfaat/icon-manfaat-pms-hotel-3.png" alt="">
              <h4 class="mt-2">PMS Hotel (Aplikasi Hotel) </h4>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos reprehenderit omnis repellat </p>
            </div>
            <div class="col-md-4">
                <img src="https://www.hotelmu.id/gambar/manfaat/icon-manfaat-channel-manager-4.png" alt="">
               <h4 class="mt-1">Channel Manager </h4>
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos reprehenderit omnis repellat </p>
              </div>
              <div class="col-md-4">
                <img src="https://www.hotelmu.id/gambar/manfaat/icon-manfaat-mobile-apps-5.png" alt="">
               <h4 class="mt-1">Mobile Apps</h4>
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos reprehenderit omnis repellat </p>
              </div>
              <div class="col-md-4">
                <img src="https://www.hotelmu.id/gambar/manfaat/icon-manfaat-aset-amp-persediaan-6.png" alt="">
                <h4 class="mt-2">Aset & Persediaan </h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos reprehenderit omnis repellat </p>
              </div>
          </div>
    </div>
</section> -->
