<nav class="navbar navbar-expand-lg navbar-light bg-info">
    <div class="container">
    <span class="navbar-brand" ><img src="../../assets/images/Bitu_small.png" alt=""></span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav mx-auto">
        <a class="nav-item nav-link active" href="user/home">Home </a>
        <a class="nav-item nav-link" href="#">Features</a>
        <a class="nav-item nav-link" href="#">Pricing</a>
      </div>
      <a href="login" class=" my-2 my-lg-0 mr-sm-2 rounded-0 btn btn-primary" >Logout</a>
    </div>
</div>
  </nav>
  <div class="card">
    <div class="card-body">
        <div class="container">
        <div class="d-inline text-center menu">
            <a href="user/home" class="ml-3">Home</a>
            <a href="user/Favorit" class="ml-3">Favorit</a>
            <a href="user/pesanan" class="ml-3">Riwayat Pemesanan</a>
            <a href="" class="ml-3">Janji Kesempatan</a>
            <a href="" class="ml-3">Riwayat Simulasi</a>
        </div>
    </div>
    </div>
  </div>
  <div class="container mt-5">
      <div class="row">
          <div class="col-md-12">
     
                    <h4>Riwayat Pemesanan</h4>
                    <table class="table mt-2">
                
                        <thead>
                            <tr class="bg-info text-white" >
                            <th scope="col">No</th>
                            <th scope="col">Nama Pemesanan</th>
                            <th scope="col">Nama Hotel</th>
                            <th scope="col">Alamat Hotel</th>
                            <th scope="col">Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                            <th scope="row">1</th>
                            <td>Jeryan Haryogi</td>
                            <td>Hotel Srengseng</td>
                            <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</td>
                            <td><b>Sedang Diproses</b> </td>
                            </tr>
                        </tbody>
                        </table>
              


          
            
          </div>
      </div>
  </div>