
<nav class="navbar navbar-expand-lg navbar-light bg-white">
  <div class="container">
  <span class="navbar-brand"><img src="../assets/images/Bitu_small.png" alt=""></span>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav ml-auto">
      <a class="nav-item nav-link active" href="beranda"(click)="setTitle('Beranda')" >Beranda <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="about" (click)="setTitle('About')">About</a>
      <a class="nav-item nav-link" href="faq" (click)="setTitle('Faq')">Faq</a>
      <a class="nav-item nav-link login" href="login" class="btn btn-primary" style="border-radius: 20px;" (click)="setTitle('Login')"> login</a>
    </div>
  </div>
</div>
</nav>
<section >
    <div class="container mt-5" >
        <div class="row">
            <div class="col-md-12 ">
                <div class="card mt-3" style="opacity: 10; height: 340px;">
                    <div class="card-body">
                      <div class="row">
                          <div class="col-md-6">
                            <h3 class="text-center">Welcome To Bitu Hotel <br>    Rooms</h3>
                            <img src="../../assets/images/Bitu_small.png" alt="">
                            
                            <p><b>Bitu Hotel</b></p>
                            <p class="mt-2">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deleniti, alias magni veniam unde consequatur incidunt ex quidem voluptates facere temporibus, vero neque consectetur laudantium perferendis perspiciatis mollitia ut vel animi?</p>
                          </div>
                          <div class="col-md-6 ">
                              <p class="text-center"><a href="" class="text-dark ">Masuk</a>  <a href=""> - Daftar</a></p>
                              <div >

                              </div>
                            <form [formGroup]="angForm" novalidate (ngSubmit)='LoginUser($event)' >
                                <div class="form-group">
                               
                                  <input type="email" [class.is-invalid]="angForm.controls['LoginEmail'].invalid && angForm.controls['LoginEmail'].touched " class="form-control" placeholder="Masukan email" formControlName='LoginEmail' name='LoginEmail'
                                  #LoginEmail/>
                                  <div *ngIf="angForm.controls['LoginEmail'].invalid && (angForm.controls['LoginEmail'].dirty  || angForm.controls['LoginEmail'].touched)">
                                    <div *ngIf="angForm.controls['LoginEmail'].errors.required">
                                      <small class="text-danger">Email Harus Diisi</small>
                              </div>
                                </div>
                                </div>
                                <div class="form-group">
                                    <input type="password" [class.is-invalid]="angForm.controls['LoginPassword'].invalid && angForm.controls['LoginPassword'].touched " class="form-control" name='LoginPassword' placeholder="Masukan password"
                                    formControlName='LoginPassword'
                                    #LoginPassword/>
                                    <div *ngIf="angForm.controls['LoginPassword'].invalid && (angForm.controls['LoginPassword'].dirty  || angForm.controls['LoginPassword'].touched)">
                                        <div *ngIf="angForm.controls['LoginPassword'].errors.required">
                                          <small class="text-danger">Password Harus Diisi</small>
                                  </div>
                                    </div>
                                  </div>
                                  <div class="form-group">
                                    <button type="submit" class="btn btn-primary btn-lg btn-block login">Masuk</button>
                                  </div>
                                </form>
                                <div class="text-center">
                                <div class='row text-center d-inline'>
                                  <a href="">
                                    <img src='https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/1200px-Google_%22G%22_Logo.svg.png' alt='' width="5%">
                                  </a>
                                  <a href="">
                                    <img src='https://upload.wikimedia.org/wikipedia/commons/thumb/5/51/Facebook_f_logo_%282019%29.svg/1280px-Facebook_f_logo_%282019%29.svg.png' class="ml-4" alt='' width="5%">
                                  </a>
                                  </div>
                                </div>   
                          </div>
                      </div>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</section>