
@media (min-width: 1200px) { 
    .jumbotron {
        background-image: url('https://res.cloudinary.com/sonesta/image/fetch/ar_2.40000,c_fill,g_auto,q_auto:good,f_auto,fl_force_strip.lossy.progressive/c_scale,w_1920/https%3A%2F%2Fwww.sonesta.com%2Fsites%2Fdefault%2Ffiles%2Fcorporate_property_marquee_images%2FPEI-SH-pool.jpg');
        height: 100%;
        width: 100%;
        background-size: cover;
        
    }
    .card1 {
        margin-top: -200px;
        border-radius: 30px 30px 0px 10px;
    }

}


.jumbotron {
    background-image: url('../../assets/images/bg1.jpg');
    height: 450px;
    width: 100%;
    background-size: cover;
    
    position: relative;
}
.jumbotron .container {
    z-index: 1;
    
    position: relative;
}
.jumbotron::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    margin-left: -30px;
    background-image: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0));
    position: absolute;
    bottom: 0;
}
.jumbotron h1 {
    font-size: 70px;
    color: white;
}
.card1 {
    margin-top: -100px;
    border-radius: 30px 30px 0px 10px;
    box-shadow: 10px 0px 20px 10px  #eee;
}
hr {
    width: 150px;
    height: 3px;
    margin-right: 150px;
}
.gambar1 .gambar2 {
    border-radius: 20%;
}