
<nav class="navbar navbar-expand-lg navbar-light bg-white navbar-home">
  <div class="container">
  <span class="navbar-brand"><img src="../assets/images/Bitu_small.png" alt=""></span>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav ml-auto">
      <a class="nav-item nav-link active" href="beranda"(click)="setTitle('Beranda')" >Beranda <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="about" (click)="setTitle('About')">About</a>
      <a class="nav-item nav-link" href="faq" (click)="setTitle('Faq')">Faq</a>
      <a class="nav-item nav-link login" href="login" class="btn btn-primary" style="border-radius: 20px;" (click)="setTitle('Login')"> login</a>
    </div>
  </div>
</div>
</nav>
<div class="jumbotron text-center">
    <div class="container mt-5">
    <h1>Welcome To  Bitu Hotel</h1>
    <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
  </div>
  </div>
  <div class="container card1">
    <div class="row">
      <div class="col-md-12">
        <div class="card" >
          <div class="card-body">
         <form action="">
           <div class="row">
             <div class="col-md-4">
               <label for="">Pilih Provinsi</label>
              <select class="form-control" id="exampleFormControlSelect1">
                <option>DKI JAKARTA</option>
                <option>BALI</option>
                <option>JAWA TENGAH</option>
                <option>ACEH</option>
                <option>PAPUA</option>
              </select>
             </div>
             <div class="col-md-4">
               <label for="">Pilih Hotel</label>
              <select class="form-control" id="exampleFormControlSelect1">
                <option>Bitu JAKARTA</option>
                <option>Bitu Bali</option>
                <option>Bitu JAWA TENGAH</option>
                <option>Bitu ACEH</option>
                <option>Bitu PAPUA</option>
              </select>
             </div>
             <div class="col-md-4 mt-4">
              <button class="btn btn-primary" type='submit' name='cari' style="width: 100%;">Cari</button>
             </div>
           </div>
         </form>
          </div>
        </div>
      </div>
    </div>
  </div>
      <div class="container mt-5">
      <div class="row">
        <div class="col-md-12 text-center">
          <h4>Exclusively for Bitu Member</h4>
          <span>Log in or Register to enjoy these benefits</span>
          <div class="row mt-3">
            <div class="col-md-3">
              <img src="https://ik.imagekit.io/tvlk/image/imageResource/2017/09/25/1506337292999-06629f21799df855a2f41b3d82bb32b8.svg?tr=q-75" alt="">
              <span class="ml-1">Flight Price Alert</span>
            </div>
            <div class="col-md-3">
              <img src="https://ik.imagekit.io/tvlk/image/imageResource/2018/12/13/1544683002314-b87bdc193a256534d2632d0bc4c442c2.svg?tr=q-75" alt="">
              <span class="ml-1">Saved List</span>
            </div>
            <div class="col-md-3">
              <img src="https://ik.imagekit.io/tvlk/image/imageResource/2017/09/25/1506337300601-48f6022e8e73ff8d54c70630b4eaf6cb.svg?tr=q-75" alt="">
              <span class="ml-1">Easy Reschedule</span>
            </div>
            <div class="col-md-3">
              <img src="https://ik.imagekit.io/tvlk/image/imageResource/2017/09/25/1506337305794-3dd7650e41feb67c75ade207c01461ed.svg?tr=q-75" alt="">
              <span class="ml-1">Passenger Quick Pick</span>
            </div>
          </div>
        </div>
      </div>
      </div>
      <div class="container  mt-5">
        <div class="row">
          <div class="col-md-12 ">
            <h4 class="text-center">Why book with Bitu? </h4>
            <div class="row">
            <div class="col-md-8">
              <img src="../../assets/images/bigbitu.png" alt="" width="100%" >
            </div>
            <div class="col-md-4 mt-3 ">
              <h3 class="ml-5">Extra space for family <br> and friends
              </h3>
              <hr class="bg-info">
              <p class="ml-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, distinctio! Debitis libero recusandae blanditiis, possimus molestias .</p>
            </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container mt-5">
        <div class="row">
          <div class="col-md-6">
            <h3>Hotel Rooms</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo natus, at excepturi illum a, provident accusantium totam voluptatum distinctio doloribus odit hic earum aut! Earum deleniti ex nisi non. Doloremque.</p>
          </div>
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-6 mt-2">
                <img src="../../assets/images/rom1.jpeg" alt="" width="100%" style="border-radius: 10%;">
              </div>
              <div class="col-md-6 mt-2">
                <img src="../../assets/images/rom2.jpeg" class="gambar2" alt="" width="100%" 
                style="border-radius: 10%;" >
              </div>
            </div>
          </div>
        </div>
      </div>
  
      
      <script src=
      "src/assets/js/script.js"></script>