<nav class="navbar navbar-expand-lg navbar-light bg-info">
    <div class="container">
    <span class="navbar-brand" ><img src="../../assets/images/Bitu_small.png" alt=""></span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav mx-auto">
        <a class="nav-item nav-link active" href="user/home">Home </a>
        <a class="nav-item nav-link" href="#">Features</a>
        <a class="nav-item nav-link" href="#">Pricing</a>
      </div>
      <a href="login" class=" my-2 my-lg-0 mr-sm-2 rounded-0 btn btn-primary" >Logout</a>
    </div>
</div>
  </nav>
  <div class="card">
    <div class="card-body">
        <div class="container">
        <div class="d-inline text-center menu">
            <a href="user/home" class="ml-3">Home</a>
            <a href="user/Favorit" class="ml-3">Favorit</a>
            <a href="user/pesanan" class="ml-3">Riwayat Pemesanan</a>
            <a href="" class="ml-3">Janji Kesempatan</a>
            <a href="" class="ml-3">Riwayat Simulasi</a>
        </div>
    </div>
    </div>
  </div>
 <div class="container mt-5">
     <div class="row">
         <div class="col-md-3">
            
            <div class="card">
                <img src="https://pix6.agoda.net/hotelImages/276/276849/276849_14062710090020061451.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5>Hotel Cibubur</h5>
                    <div class="row">
                <div class="col-md-7">
                    <div class="d-inline">
                  <span><i class="fa fa-eye"></i> 450</span>
                  <span class="ml-3"><i class="fa fa-heart text-danger"></i> 100</span>
                </div>
            </div> 
            <div class="col-md-5">
                <button class="btn btn-info" style="width: 100%;" >pesan</button>
            </div>
                  
                </div>  
                  <p class="card-text text-center mt-2">Lorem ipsum dolor sit amet consectetur adipisicing elit.  </p>
                <a href="" class="text-right"  data-toggle="modal" data-target="#hotel1">Detail</a>

                </div>
              </div>
         </div>
         <div class="col-md-3">
            <div class="card">
                <img src="https://pix10.agoda.net/hotelImages/161/1618666/1618666_17021717060051098161.jpg?s=1024x768" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5>Hotel Meruya</h5>
                    <div class="row">
                <div class="col-md-7">
                    <div class="d-inline">
                  <span><i class="fa fa-eye"></i> 300</span>
                  <span class="ml-3"><i class="fa fa-heart text-danger"></i> 120</span>
                </div>
            </div> 
            <div class="col-md-5">
                <button class="btn btn-info" style="width: 100%;" >pesan</button>
            </div>
                  
                </div>  
                  <p class="card-text text-center mt-2">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                  <a href="" class="text-right"  data-toggle="modal" data-target="#hotel2">Detail</a>
                </div>
              </div>
         </div>
         <div class="col-md-3">
            
            <div class="card">
                <img src="https://r-cf.bstatic.com/images/hotel/max1024x768/218/218422528.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5>Hotel Kembangan</h5>
                    <div class="row">
                <div class="col-md-7">
                    <div class="d-inline">
                  <span><i class="fa fa-eye"></i> 211</span>
                  <span class="ml-3"><i class="fa fa-heart text-danger"></i> 234</span>
                </div>
            </div> 
            <div class="col-md-5">
                <button class="btn btn-info" style="width: 100%;" >pesan</button>
            </div>
                  
                </div>  
                  <p class="card-text text-center mt-2">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                  <a href="" class="text-right"  data-toggle="modal" data-target="#hotel3">Detail</a>
                </div>
              </div>
         </div>
         <div class="col-md-3">
            
            <div class="card">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRnibKlPGQWtcvzrASEtV1UVycISG5MY0_JbTEeyF4QHFF6-fs3&usqp=CAU" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5>Hotel Kedoya</h5>
                    <div class="row">
                <div class="col-md-7">
                    <div class="d-inline">
                  <span><i class="fa fa-eye"></i> 712</span>
                  <span class="ml-3"><i class="fa fa-heart text-danger"></i> 432</span>
                </div>
            </div> 
            <div class="col-md-5">
                <button class="btn btn-info" style="width: 100%;" >pesan</button>
            </div>
                  
                </div>  
                  <p class="card-text text-center mt-2">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                  <a href="" class="text-right"  data-toggle="modal" data-target="#hotel4">Detail</a>
                </div>
              </div>
         </div>
         <div class="col-md-3 mt-3">
            
            <div class="card">
                <img src="https://ik.imagekit.io/tvlk/apr-asset/dgXfoyh24ryQLRcGq00cIdKHRmotrWLNlvG-TxlcLxGkiDwaUSggleJNPRgIHCX6/hotel/asset/20007376-85ae0b162fba068482a551773d4c07b7.jpeg?tr=q-40,c-at_max,w-740,h-500&_src=imagekit" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5>Hotel Srengseng</h5>
                    <div class="row">
                <div class="col-md-7">
                    <div class="d-inline">
                  <span><i class="fa fa-eye"></i> 421</span>
                  <span class="ml-3"><i class="fa fa-heart text-danger"></i> 444</span>
                </div>
            </div> 
            <div class="col-md-5">
                <button class="btn btn-info" style="width: 100%;" >pesan</button>
            </div>
                  
                </div>  
                  <p class="card-text text-center mt-2">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                  <a href="" class="text-right"  data-toggle="modal" data-target="#hotel5">Detail</a>
                </div>
              </div>
         </div>
         <div class="col-md-3 mt-3">
            
            <div class="card">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSp40XwDRv9nUS2qbeP0anhSMSNo3ZuzCL4kwdNQDV9RZacP2jH&usqp=CAU" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5>Hotel Swadarma</h5>
                    <div class="row">
                <div class="col-md-7">
                    <div class="d-inline">
                  <span><i class="fa fa-eye"></i> 42</span>
                  <span class="ml-3"><i class="fa fa-heart text-danger"></i> 324</span>
                </div>
            </div> 
            <div class="col-md-5">
                <button class="btn btn-info" style="width: 100%;" >pesan</button>
            </div>
                  
                </div>  
                  <p class="card-text text-center mt-2">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                  <a href="" class="text-right"  data-toggle="modal" data-target="#hotel6">Detail</a>
                </div>
              </div>
         </div>
         <div class="col-md-3 mt-3">
            
             
            <div class="card">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcT24XK6sqQZ1vesZc-P-Zfq4x5pQ-Sn7zXvfE_FnwCRyHaZ1n-5&usqp=CAU" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5>Hotel Cidodol</h5>
                    <div class="row">
                <div class="col-md-7">
                    <div class="d-inline">
                  <span><i class="fa fa-eye"></i> 312</span>
                  <span class="ml-3"><i class="fa fa-heart text-danger"></i> 313</span>
                </div>
            </div> 
            <div class="col-md-5">
                <button class="btn btn-info" style="width: 100%;" >pesan</button>
            </div>
                  
                </div>  
                  <p class="card-text text-center mt-2">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                  <a href="" class="text-right"  data-toggle="modal" data-target="#hotel7">Detail</a>
                </div>
              </div>
         </div>
         <div class="col-md-3 mt-3">
            
            <div class="card">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQ6_V7UeoJYaaXtUsIBbOAE6qZNAKTngRI8UI7th9yBlKLrEqu4&usqp=CAU" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5>Hotel Gandaria</h5>
                    <div class="row">
                <div class="col-md-7">
                    <div class="d-inline">
                  <span><i class="fa fa-eye"></i> 450</span>
                  <span class="ml-3"><i class="fa fa-heart text-danger"></i> 299</span>
                </div>
            </div> 
            <div class="col-md-5">
                <button class="btn btn-info" style="width: 100%;" >pesan</button>
            </div>
                  
                </div>  
                  <p class="card-text text-center mt-2">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                  <a href="" class="text-right"  data-toggle="modal" data-target="#hotel8">Detail</a>
                </div>
              </div>
         </div>
     </div>
 </div>

 <div class="modal fade" id="hotel1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Detail Hotel</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
              <div class="col-md-6">
                <img src="https://pix6.agoda.net/hotelImages/276/276849/276849_14062710090020061451.jpg" alt="" width="100%">
              </div>
              <div class="col-md-6">
                <h5>Hotel Cibubur</h5>
                <div class="d-inline">
                    <span><i class="fa fa-eye"></i> 450</span>
                    <span class="ml-3"><i class="fa fa-heart text-danger"></i> 100</span>
                  </div>
                  <div class="d-inline">
                      <br>
                    <span>Harga Jual-</span>
                    <span class="ml-3"><b>Rp. 2.100.000</b></span>
                  </div>
                  <div class="d-inline">
                    <br>
                  <span>Harga Pesan-</span>
                  <span class="ml-3"><b>Rp. 1.900.000</b></span>
                </div>
                <hr>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit </p>
              </div>
          </div>
        </div>
        

      </div>
    </div>
  </div>

  <div class="modal fade" id="hotel2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Detail Hotel</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
              <div class="col-md-6">
                <img src="https://pix10.agoda.net/hotelImages/161/1618666/1618666_17021717060051098161.jpg?s=1024x768" alt="" width="100%">
              </div>
              <div class="col-md-6">
                <h5>Hotel Meruya</h5>
                <div class="d-inline">
                  <span><i class="fa fa-eye"></i> 300</span>
                  <span class="ml-3"><i class="fa fa-heart text-danger"></i> 120</span>
                  </div>
                  <div class="d-inline">
                      <br>
                    <span>Harga Jual-</span>
                    <span class="ml-3"><b>Rp. 3.100.000</b></span>
                  </div>
                  <div class="d-inline">
                    <br>
                  <span>Harga Pesan-</span>
                  <span class="ml-3"><b>Rp. 3.000.000</b></span>
                </div>
                <hr>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit </p>
              </div>
          </div>
        </div>
        
        
      </div>
    </div>
  </div>

  <div class="modal fade" id="hotel3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Detail Hotel</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
              <div class="col-md-6">
                <img src="https://r-cf.bstatic.com/images/hotel/max1024x768/218/218422528.jpg" alt="" width="100%">
              </div>
              <div class="col-md-6">
                <h5>Hotel Kembangan</h5>
                <div class="d-inline">
                  <span><i class="fa fa-eye"></i> 211</span>
                  <span class="ml-3"><i class="fa fa-heart text-danger"></i> 234</span>
                  </div>
                  <div class="d-inline">
                      <br>
                    <span>Harga Jual-</span>
                    <span class="ml-3"><b>Rp. 3.500.000</b></span>
                  </div>
                  <div class="d-inline">
                    <br>
                  <span>Harga Pesan-</span>
                  <span class="ml-3"><b>Rp. 3.700.000</b></span>
                </div>
                <hr>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit </p>
              </div>
          </div>
        </div>
        
        
      </div>
    </div>
  </div>
  
  <div class="modal fade" id="hotel4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Detail Hotel</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
              <div class="col-md-6">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRnibKlPGQWtcvzrASEtV1UVycISG5MY0_JbTEeyF4QHFF6-fs3&usqp=CAU" alt="" width="100%">
              </div>
              <div class="col-md-6">
                <h5>Hotel Kedoya</h5>
                <div class="d-inline">
                  <span><i class="fa fa-eye"></i> 712</span>
                  <span class="ml-3"><i class="fa fa-heart text-danger"></i> 432</span>
                  </div>
                  <div class="d-inline">
                      <br>
                    <span>Harga Jual-</span>
                    <span class="ml-3"><b>Rp. 3.800.000</b></span>
                  </div>
                  <div class="d-inline">
                    <br>
                  <span>Harga Pesan-</span>
                  <span class="ml-3"><b>Rp. 3.300.000</b></span>
                </div>
                <hr>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit </p>
              </div>
          </div>
        </div>
        
        
      </div>
    </div>
  </div>

  <div class="modal fade" id="hotel5" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Detail Hotel</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
              <div class="col-md-6">
                <img src="https://ik.imagekit.io/tvlk/apr-asset/dgXfoyh24ryQLRcGq00cIdKHRmotrWLNlvG-TxlcLxGkiDwaUSggleJNPRgIHCX6/hotel/asset/20007376-85ae0b162fba068482a551773d4c07b7.jpeg?tr=q-40,c-at_max,w-740,h-500&_src=imagekit" alt="" width="100%">
              </div>
              <div class="col-md-6">
                <h5>Hotel Srengseng</h5>
                <div class="d-inline">
                  <span><i class="fa fa-eye"></i> 421</span>
                  <span class="ml-3"><i class="fa fa-heart text-danger"></i> 444</span>
                  </div>
                  <div class="d-inline">
                      <br>
                    <span>Harga Jual-</span>
                    <span class="ml-3"><b>Rp. 4.800.000</b></span>
                  </div>
                  <div class="d-inline">
                    <br>
                  <span>Harga Pesan-</span>
                  <span class="ml-3"><b>Rp. 3.300.000</b></span>
                </div>
                <hr>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit </p>
              </div>
          </div>
        </div>
        
        
      </div>
    </div>
  </div>

  <div class="modal fade" id="hotel6" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Detail Hotel</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
              <div class="col-md-6">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSp40XwDRv9nUS2qbeP0anhSMSNo3ZuzCL4kwdNQDV9RZacP2jH&usqp=CAU" alt="" width="100%">
              </div>
              <div class="col-md-6">
                <h5>Hotel Swadarma</h5>
                <div class="d-inline">
                  <span><i class="fa fa-eye"></i> 42</span>
                  <span class="ml-3"><i class="fa fa-heart text-danger"></i> 324</span>
                  </div>
                  <div class="d-inline">
                      <br>
                    <span>Harga Jual-</span>
                    <span class="ml-3"><b>Rp. 3.800.000</b></span>
                  </div>
                  <div class="d-inline">
                    <br>
                  <span>Harga Pesan-</span>
                  <span class="ml-3"><b>Rp. 3.300.000</b></span>
                </div>
                <hr>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit </p>
              </div>
          </div>
        </div>
        
        
      </div>
    </div>
  </div>

  <div class="modal fade" id="hotel7" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Detail Hotel</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
              <div class="col-md-6">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcT24XK6sqQZ1vesZc-P-Zfq4x5pQ-Sn7zXvfE_FnwCRyHaZ1n-5&usqp=CAU" alt="" width="100%">
              </div>
              <div class="col-md-6">
                <h5>Hotel Cidodol</h5>
                <div class="d-inline">
                  <span><i class="fa fa-eye"></i> 312</span>
                  <span class="ml-3"><i class="fa fa-heart text-danger"></i> 313</span>
                  </div>
                  <div class="d-inline">
                      <br>
                    <span>Harga Jual-</span>
                    <span class="ml-3"><b>Rp. 3.890.000</b></span>
                  </div>
                  <div class="d-inline">
                    <br>
                  <span>Harga Pesan-</span>
                  <span class="ml-3"><b>Rp. 3.320.000</b></span>
                </div>
                <hr>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit </p>
              </div>
          </div>
        </div>
        
        
      </div>
    </div>
  </div>

  <div class="modal fade" id="hotel8" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Detail Hotel</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
              <div class="col-md-6">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQ6_V7UeoJYaaXtUsIBbOAE6qZNAKTngRI8UI7th9yBlKLrEqu4&usqp=CAU" alt="" width="100%">
              </div>
              <div class="col-md-6">
                <h5>Hotel Gandaria</h5>
                <div class="d-inline">
                  <span><i class="fa fa-eye"></i> 450</span>
                  <span class="ml-3"><i class="fa fa-heart text-danger"></i> 299</span>
                  </div>
                  <div class="d-inline">
                      <br>
                    <span>Harga Jual-</span>
                    <span class="ml-3"><b>Rp. 3.670.000</b></span>
                  </div>
                  <div class="d-inline">
                    <br>
                  <span>Harga Pesan-</span>
                  <span class="ml-3"><b>Rp. 3.390.000</b></span>
                </div>
                <hr>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit </p>
              </div>
          </div>
        </div>
        
        
      </div>
    </div>
  </div>