.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.navbar-toggler {
    border: 1px solid white !important;
    border-radius: 0;
}
a.navbar-brand,
.navbar-nav a {
    color: rgb(204, 204, 204) !important;
} 
.menu a:hover {
    border-bottom: 2px solid blue;
    border-radius: 3px;
}   
a {
    text-decoration: none;
}