<nav class="navbar navbar-expand-lg navbar-light bg-info">
    <div class="container">
    <span class="navbar-brand" ><img src="../../assets/images/Bitu_small.png" alt=""></span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav mx-auto">
        <a class="nav-item nav-link active" href="#">Home </a>
        <a class="nav-item nav-link" href="#">Features</a>
        <a class="nav-item nav-link" href="#">Pricing</a>
      </div>
      <a href="login" class=" my-2 my-lg-0 mr-sm-2 rounded-0 btn btn-primary" >Logout</a>
    </div>
</div>
  </nav>
  <div class="card">
    <div class="card-body">
        <div class="container">
        <div class="d-inline text-center">
            <a href="user/home" class="ml-3">Home</a>
            
            <a href="user/Favorit" class="ml-3">Favorit</a>
            <a href="user/pesanan" class="ml-3">Riwayat Pemesanan</a>
            <a href="" class="ml-3">Janji Kesempatan</a>
            <a href="" class="ml-3">Riwayat Simulasi</a>
        </div>
    </div>
    </div>
  </div>
  <div class="jumbotron text-center text-white" style="background-image: url('../../assets/images/bg2.jpg');
  background-size: cover;">
    <h1 class="display-4"><b>Welcome To Bitu Hotel</b></h1>
    <p class="lead">This is a simple hero unit, a simple <br> jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <a class="btn btn-info btn-lg" style="border-radius: 20px;" href="user/Favorit" role="button">Pesan Hotel</a>
  </div>